*{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: 100svh;
}
.parent1{
	width: 100%;
	height: 12%;
	/* background-color: orange; */
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 14fr 1fr;
}
.parent2{
	width: 100%;
	height: 24%;
	/* background-color: red; */
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr 12fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.parent3{
	width: 100%;
	height: 59.2%;
	/* background-color: blue; */
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 2fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
}

.child{
	width: 81px;
	height: 81px;
	background-color: yellow;
	border: 2px solid black;
	font-size: 25px;
}
.child1{
	width: 82.1px;
	height: 82.1px;
	background-color: yellow;
	border: 2px solid black;
	font-size: 25px;
}
.other_nonmetals{
	width: 81px;
	height: 81px;
	background-color: #FFAB91;
	border: 2px solid black;
	font-size: 25px;
}
.nobal_gases{
	width: 81px;
	height: 81px;
	background-color: white;
	border: 2px solid black;
	font-size: 25px;
}
.alkali{
	width: 81px;
	height: 81px;
	background-color: #FFE0B2;
	border: 2px solid black;
	font-size: 25px;
}
.alkali_earth{
	width: 81px;
	height: 81px;
	background-color: #FECD80;
	border: 2px solid black;
	font-size: 25px;
}
.halogens{
	width: 81px;
	height: 81px;
	background-color: #A6D6AA;
	border: 2px solid black;
	font-size: 25px;
}
.transition{
	width: 81px;
	height: 81px;
	background-color: #D2C5E9;
	border: 2px solid black;
	font-size: 25px;
}
.rare_elements{
	width: 81px;
	height: 81px;
	background-color: #E7ED9B;
	border: 2px solid black;
	font-size: 25px;
}
.actinoid_elements{
	width: 81px;
	height: 81px;
	background-color: #B2E5FB;
	border: 2px solid black;
	font-size: 25px;
}
.other_metals{
	width: 81px;
	height: 81px;
	background-color: #FFCDD3;
	border: 2px solid black;
	font-size: 25px;
}