*{
	padding: 0;
	margin: 0;
}
.layout{
	width: 100%;
	height: 100svh;
	background-color: rgb(249, 248, 253);
	position: relative;
}
.navbar{
	width: 100%;
	height: 7svh;
	position: relative;
	top: 2svh;
	background-color: white;
	box-shadow: 0px 0px 5px 5px #ECEDF5;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
}
.pre{
	height: 80%;
	width: 8%;
	background-color: #95E04A;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	text-align: center;
	align-content: center;
	margin: 0.15%;
}
.html{
	height: 80%;
	width: 8%;
	background-color: #85d4f5;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	text-align: center;
	align-content: center;
	margin: 0.15%;
}
.css{
	height: 80%;
	width: 8%;
	background-color: #85d4f5;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	text-align: center;
	align-content: center;
	margin: 0.15%;
}
.download{
	height: 80%;
	width: 8%;
	background-color: #85d4f5;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	text-align: center;
	align-content: center;
	margin: 0.15%;
}
.action{
height: 80%;
	width: 8%;
	background-color: #fc615e;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	text-align: center;
	align-content: center;
	margin: 0.15%;
}
.profile{
	height: 80%;
	width: 22%;
	left: 7%;
	top: 6%;
	background-color: white;
	position: relative;
	display: flex;
	/* justify-content: center; */
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #e0e1e7;
}
.body{
	width: 100%;
	height: 93svh;
	background-color: #f8f9fe;
	position: relative;
	display: flex;

}
.details{
	width: 60%;
	height: 35svh;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px #e0e1e7;
	position: absolute;
	padding: 1.5%;
	left: 30%;
	font-size: 25px;
	top: 6%;
	border-radius: 5px;
	line-height: 18px;
}
.project_stats{
	width: 60%;
	height: 35svh;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px #e0e1e7;
	position: absolute;
	left: 30%;
	top: 54%;
	border-radius: 5px;
	padding: 1.5%;
}
.d1{
	height: 11%;
	width: 85%;
	border: 1px solid transparent;
	box-shadow: 0px 0px 10px 5px #e0e1e7;
	border-radius: 5px;
	position: relative;
	top: -10%;
	left: 13%;
	align-content: center;
	padding-left: 1.5%;
}
.d2{
	height: 11%;
	width: 85%;
	border: 1px solid transparent;
	box-shadow: 0px 0px 10px 5px #e0e1e7;
	border-radius: 5px;
	position: relative;
	top: -10%;
	left: 13%;
	align-content: center;
	padding-left: 1.5%;
}
.d3{
	height: 11%;
	width: 85%;
	border: 1px solid transparent;
	box-shadow: 0px 0px 10px 5px #e0e1e7;
	border-radius: 5px;
	position: relative;
	top: -10%;
	left: 13%;
	align-content: center;
	padding-left: 1.5%;
}
.d4{
	height: 11%;
	width: 85%;
	border: 1px solid transparent;
	box-shadow: 0px 0px 10px 5px #e0e1e7;
	border-radius: 5px;
	position: relative;
	top: -10%;
	left: 13%;
	align-content: center;
	padding-left: 1.5%;
}
.d5{
	height: 11%;
	width: 85%;
	border: 1px solid transparent;
	box-shadow: 0px 0px 10px 5px #e0e1e7;
	border-radius: 5px;
	position: relative;
	top: -10%;
	left: 13%;
	align-content: center;
	padding-left: 1.5%;
}
.button{
	height: 15%;
	width: 15%;
	background-color: #007aff;
	font-size: 20px;
	position: relative;
	text-align: center;
	align-content: center;
	border-radius: 5px;
	left: 13%;
	top: -6%;
	color: white;
}
.image{
	width: 38%;
	height: 24%;
	background-color: white;
	/* border-radius: 50%; */
	position: absolute;
	top: 3%;
	left: 31%;
	/* align-items: center;
	align-content: center; */
}
.image img{
	height: 105px;
	width: 125px;
	position: absolute;
	border: 2px solid black;
	border-radius: 50%;
	/* align-items: center;
	align-content: center; */
}
#name{
	width: 100%;
	height: 5%;
	/* background-color: black; */
	position: absolute;
	text-align: center;
	font-size: 150%;
	font-weight: bolder;
	top: 26%;
}
#tech{
	width: 100%;
	height: 5%;
	/* background-color: black; */
	position: absolute;
	text-align: center;
	font-weight: lighter;
	top: 34%;
}
.button:hover{
	cursor: pointer;
}
#follow{
display: inline-block;
width: 20%;
height: 7%;
color: white;
position: absolute;
background-color: #007aff;
top: 48%;
text-align: center;
align-content: center;
border-radius: 5px;
left: 29.5%;
}
#follow:hover{
	cursor: pointer;
}
#message:hover{
	cursor: pointer;
}
#message{
	/* display: inline-block; */
width: 20%;
height: 7%;
color: #007aff;
position: absolute;
border: 1px solid #007aff;
top: 48%;
right: 29.5%;
text-align: center;
align-content: center;
border-radius: 5px;
}
#area{
	width: 100%;
	height: 5%;
	/* background-color: black; */
	position: absolute;
	top: 40%;
	text-align: center;
	font-weight: lighter;
}
.icons{
	position: absolute;
	width: 20%;
	height: 5%;
	/* background-color: pink; */
	font-size: 125%;
	display: inline-block;
	left: 25%;
}
#website{
	width: 30%;
	height: 5%;
	/* background-color: pink; */
	position: absolute;
	top: 63%;
	left: 45%;
	align-content: center;
	font-size: 125%;
}
#github{
	width: 30%;
	height: 5%;
	/* background-color: pink; */
	position: absolute;
	top: 70%;
	left: 45%;
	align-content: center;
	font-size: 125%;
}
#twitter{
	width: 30%;
	height: 5%;
	/* background-color: pink; */
	position: absolute;
	top: 77%;
	left: 45%;	align-content: center;
	font-size: 125%;
}
#insta{
	width:	30%;
	height: 5%;
	/* background-color: pink; */
	position: absolute;
	top: 84%;
	left: 45%;
		align-content: center;
	font-size: 125%;
}
#fb{
	width: 30%;
	height: 5%;
	/* background-color: pink; */
	position: absolute;
	top: 91%;
	left: 45%;
	align-content: center;
	font-size: 125%;
}
a{
	text-decoration: none;
	color: black;
}
.pre:hover{
	cursor: pointer;
}
.html:hover{
	cursor: pointer;
}
.css:hover{
	cursor: pointer;
}
.download:hover{
	cursor: pointer;
}
.action:hover{
	cursor: pointer;
}
.project_stats{
	font-size: 125%;
	font-weight: 600;
	position: absolute;
}
.web_design{
	position: absolute;
	padding-left: 3%;
	top: 20%;
	left: -.08%;
	width: 97%;
	height: 15%;
	font-size: 70%;
	font-weight: lighter;
	/* background-color: pink; */
}
.bar_container{
	position: absolute;
	width: 90%;
	height: 15%;
	top: 50%;
	background-color: #e5ebf1;
}
.bar1{
	position: absolute;
	height: 100%;
	width: 80%;
	background-color: #76b9e9;
}
.web_markup{
	font-weight: lighter;
	position: absolute;
	padding-left: 3%;
	top: 36%;
	left: -.08%;
	width: 97%;
	height: 15%;
	font-size: 70%;
	/* background-color: pink; */
}
.bar2{
	position: absolute;
	height: 100%;
	width: 75%;
	background-color: #d13d4e;
}
.one_page{
	font-weight: lighter;
	position: absolute;
	padding-left: 3%;
	top: 52%;
	left: -.08%;
	width: 97%;
	height: 15%;
	font-size: 70%;
	/* background-color: pink; */
}
.bar3{
	position: absolute;
	height: 100%;
	width: 90%;
	background-color: #27a645;
}
.mob_template{
	font-weight: lighter;
	position: absolute;
	padding-left: 3%;
	top: 68%;
	left: -.08%;
	width: 97%;
	height: 15%;
	font-size: 70%;
	/* background-color: pink; */
}
.bar4{
	position: absolute;
	height: 100%;
	width: 60%;
	background-color: #fabf14;
}
.backend_api{
	font-weight: lighter;
	position: absolute;
	padding-left: 3%;
	top: 84%;
	left: -.08%;
	width: 97%;
	height: 15%;
	font-size: 70%;
	/* background-color: pink; */
}
.bar5{
	position: absolute;
	height: 100%;
	width: 70%;
	background-color: #239cae;
}