*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	width: 100%;
	height: 100vh;
	background: linear-gradient(#ffe5ec,#ffb3c6);
}
table,
tr,
td{
	border: 2px solid black;
	border-collapse: collapse;
	background-color: white;
}
td{
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}
.back_div{
	margin-top: 50px;
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
}

.btn_div{
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
}

.up_btn,
.down_btn,
.left_btn,
.right_btn{
	/* margin: 20px; */
	width: 75px;
	height: 30px;
	background: linear-gradient(to left,#0077b6,#caf0f8);
	color: white;
	border-radius: 15px;
	border: 2px solid black;
}

.left_btn,
.right_btn{
	margin: 50px;
}

.piece_class{
	width: 40px;
	height: 40px;
	background-color: black;
	transition: transform .2s;
}

.up_btn_div,
.lr_btn_div,
.down_btn_div{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}