*{
	padding: 0;
	margin: 0;
}.background{
	height: 100svh;
	width: 100%;
	/* background-color: black; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* position: relative; */
}
.card{
	height: 40%;
	width: 40%;
	position: relative;
	background-color: black;
	border-radius: 30px;
	background-image: url("./card\ background.jpeg");
	background-size: 100% 100%;
	/* background: linear-gradient(90deg, black 2ch, white 11ch); */
}
.strip1{
	width: 15%;
	height: 30%;
	position: absolute;
	top: 2%;
	left: 4%;
	background-image: url(./owlcoder.jpg);
	background-size: 100% 100%;
	transition: transform .2s;
}
.strip1:hover{
	transform: scale(1.1);
}
.text1{
	height: 15%;
	width: 36%;
	/* background-color: white; */
	position: absolute;
	bottom: 25%;
	left: 50%;
	/* color: white; */
	background: linear-gradient(to right,#C19349,#F5E7A0,#e0aa67,#D5B66F,#e0b686);
	color: transparent;
	background-clip: text;
	font-size: 30px;
	font-weight: 900;
	/* color: white; */
	/* background-color: white; */
}
.profile{
	height: 110px;
	width: 110px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	left: 37%;
	top: 15%;
	background-image: url("https://cdn.vectorstock.com/i/500p/53/42/user-member-avatar-face-profile-icon-vector-22965342.jpg");
	background-size: 100% 100%;
}
.text2{
	height: 15%;
	width: 36%;
	/* background-color: white; */
	position: absolute;
	bottom: 10%;
	left: 54%;
	/* color: white; */
	background: linear-gradient(to right,#C19349,#F5E7A0,gold,#D5B66F,#A06A2B);
	color: transparent;
	background-clip: text;
	font-size: 30px;
	font-weight: 900;
	/* color: white; */
	/* background-color: white; */
}
.logo{
	height: 16%;
	width: 8%;
	/* background-color: white; */
	position: absolute;
	top: 10%;
	right: 15%;
	background-image: url(./5px99zb7.png);
	background-size: 100% 100%;
	/* border-radius: 50%; */

	transition: transform .2s;
}
.logo:hover{
	transform: scale(1.1);
}
.barcode{
	height: 15%;
	width: 40%;
	/* background-color: white; */
	position: absolute;
	bottom: 10%;
	left: 5%;
	background-image: url("./9l1zab6n.png");
	background-size: 100% 200%;
	background-repeat: no-repeat;
}
.strip2{
	position: absolute;
	right: 0;
	width: 10%;
	height: 100%;
	background: linear-gradient(to bottom,#C19349,#F5E7A0,#9C6828,#D5B66F,#A06A2B);
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	text-align: center;
	align-content: center;
	font-size: 25px;
	font-weight:900;
}