body{
	width: 100%;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
}
button{
	width: 400px;
	height: 150px;
	position: relative;
	border-radius: 71px;
	border: 4px solid black;
	transition: all 100s;
}
button::before{
	content: "";
	position: absolute;
	height: 145px;
	width: 150px;
	left: 0;
	top: -1px;
	background-color: orange;
	border-radius: 50%;
	transition: 2s ease all
	/* transition: background-color 100s linear; */
}
button:hover::before{
	left: 242px;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW3C3Ty79k_gyPc3OD5oWmoWQk5nXn1bGIYQ&s);
	background-size: 100% 100%;
}
/* button::after{
	content: "";
	position: absolute;
	height: 150px;
	width: 150px;
	right: 0;
	top: 0;
	background-color: grey;
} */